<ion-header>
  <ion-toolbar>
    <ion-title>confirmreservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Seleziona il numero di ore" [multiple]="true">
        <ion-select-option value="onehour">1</ion-select-option>
        <ion-select-option value="twohours">2</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <section>
    <header>Block Width</header>
    <ion-button expand="block" href="tabs">A block button</ion-button>
  </section>
  <a href="tabs">Annulla</a>
</ion-content>
