<ion-header >

  <ion-toolbar color="primary">



    <ion-buttons slot="secondary">
      <ion-button href="tabs">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-grid>

      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>


      </ion-row>

      <ion-row>
        <ion-col class="ion-align-self-center" offset="1.2">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>

        <ion-col>
        </ion-col>
        <ion-col class="ion-align-self-center" offset="0.8">
          <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
        </ion-col>

      </ion-row>



      <ion-row>
        <ion-col  offset="2" class="ion-align-self-center">
          <ion-text>5</ion-text>
        </ion-col>

        <ion-col>
        </ion-col>

        <ion-col offset="2" class="ion-align-self-center">
          <ion-text>3</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="2" class="ion-align-self-center">
          <ion-text>3</ion-text>
        </ion-col>

        <ion-col>
        </ion-col>

        <ion-col offset="2" class="ion-align-self-center">
          <ion-text>5</ion-text>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col offset="2" class="ion-align-self-center">
          <ion-text>4</ion-text>
        </ion-col>

        <ion-col>
        </ion-col>

        <ion-col offset="2" class="ion-align-self-center">
          <ion-text class="ion-text-center">5</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-text class="ion-text-center"  style="opacity: 0.7"> Squadra 1 </ion-text>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> Roberto Di Stefano</ion-text>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> Davide Battistone</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center" size="12">
          <ion-text class="ion-text-center" style="opacity: 0.7"> Squadra 2 </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> Carla Di Stefano</ion-text>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> Gloria Marinelli</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center" style="opacity: 0.7"> Circolo </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> Circolo di Avezzano </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center" style="opacity: 0.7"> Data e ora </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center"> il 12/08/2022 alle 19:00 </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-button expand="block" href="postsmatch">Post</ion-button>


</ion-content>
