<ion-grid>
  <ion-row>
    <ion-col size="5" >
      <ion-label class="ion-text-center">Circolo</ion-label>
      <ion-img class="ion-text-center" style="width: 50px ; height: 50px;border-radius: 50%" [src]="" ></ion-img>
    </ion-col>
    <ion-col size="7" class="ion-align-self-center">
      <ion-text style="opacity: 0.7">il 03/08/22</ion-text>
      <br>
      <ion-text style="opacity: 0.7"> alle 18:30</ion-text>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="22" class="ion-align-self-center">
      <ion-button color="danger" expand="block" href="tabs">Elimina</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
