<!DOCTYPE html>
<head>
  <style>
    .scrolling-wrapper{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
    .card {
      display: inline-block;
    }

    .rectangle {
    ;
    ;
      background: red;
    }

  </style>
</head>
<p>GIORNO:</p>
<ion-button color="light" expand="block" (click)="showCalendar()">{{labelDate}}</ion-button>
<ion-datetime min="{{getToday()}}" *ngIf="showCal" value="{{getDateValue()}}" presentation="date" #datetime (ionChange)="dateChange(datetime.value)">
</ion-datetime>
<br>
<p><b>CAMPO 1</b></p>
<div class="scrolling-wrapper">
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
  <ion-button size="small">9:00-10:00</ion-button>
</div>
