<ion-tabs >
  <ion-tab-bar color="primary" slot="bottom" >
    <ion-tab-button *ngIf="selected=='home';else notHome"   tab="home">
      <ion-icon  color="secondary"  name="home"></ion-icon>
      <ion-label color="secondary">Home</ion-label>
    </ion-tab-button>
    <ng-template #notHome>
      <ion-tab-button tab="home" (click)="showHome()" >
        <ion-icon  name="home" ></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
    </ng-template>


    <ion-tab-button *ngIf="selected=='club';else notClub"  tab="homeclub">
      <ion-icon color="secondary" name="tennisball"></ion-icon>
      <ion-label color="secondary" >Circolo</ion-label>
    </ion-tab-button>
    <ng-template #notClub>
      <ion-tab-button tab="homeclub" (click)="showClub() && sendFrom()">
        <ion-icon color="secondary" name="tennisball" ></ion-icon>
        <ion-label color="secondary">Circolo</ion-label>
      </ion-tab-button>
    </ng-template>

    <ion-tab-button  tab="userprofile" *ngIf="selected=='profile';else notProfile" >
      <ion-icon color="secondary" name="person-circle"></ion-icon>
      <ion-label color="secondary" >Profilo</ion-label>
    </ion-tab-button>
    <ng-template #notProfile>
      <ion-tab-button tab="userprofile" (click)="showProfile()">
        <ion-icon  name="person-circle"></ion-icon>
        <ion-label >Profilo</ion-label>
      </ion-tab-button>
    </ng-template>



  </ion-tab-bar>
</ion-tabs>
