
.backgroud-primary{
  --background: #240879;
}

.ion-footer{
  margin-top: 80%;
}

.container{


  img{
    height: 100px;
    margin-top: 60%;
  }
}
.flip-scale-up-hor{-webkit-animation:flip-scale-up-hor 2.1s linear both;animation:flip-scale-up-hor 2.1s linear both}
