<ion-header>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <p class="text-center">Login</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <form [formGroup]="credential" (click)="error=false">
    <ion-item>
      <ion-label position="floating" color="#808080">email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        clearInput="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="#808080">password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        clearInput="true"
      ></ion-input>
    </ion-item>
  </form>

  <br /><br />
  <section>
    <ion-button expand="block" (click)="submit()">Accedi</ion-button>
    <div class="ion-text-center">
      <ion-text *ngIf="error" class="error-size" color="danger">* sign in don't success , check the credentials entered</ion-text>
    </div>
    <div class="ion-text-center">
      <a href="registration"
        ><p class="text-center">non sei ancora registrato?</p></a
      >
    </div>
  </section>
</ion-content>
