<ion-header [translucent]="true">
  <ion-toolbar color="primary">//mettere un ngIf, se sono l'utente corrente non visualizzare la ricerca
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <ion-buttons slot="start"> </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-card *ngIf="name=='tab'&&fromTabs==false;else notTab">
      <img src="./default.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Dati personali</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Nome
      </ion-card-content>
      <ion-card-content>
        Cognome
      </ion-card-content>
      <ion-card-content>
        Partite giocate
      </ion-card-content>
      <ion-card-content>
        Superficie preferita
      </ion-card-content>
      <ion-card-content>
        <ion-button color="primary" expand="block" href="modprofile"> Modifica </ion-button>
      </ion-card-content>
      <ion-card-content>
        <div class="ion-text-center">
          <a color="primary" expand="block" (click)="logout()"><b>Logout</b></a>
        </div>
      </ion-card-content>
    </ion-card>
  <ng-template #notTab>
    <ion-card>
      <img src="./default.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Dati personali</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Nome
      </ion-card-content>
      <ion-card-content>
        Cognome
      </ion-card-content>
      <ion-card-content>
        Partite giocate
      </ion-card-content>
      <ion-card-content>
        Superficie preferita
      </ion-card-content>
      <ion-card-content>
        <ion-button color="primary" expand="block" href="modprofile"> Modifica </ion-button>
      </ion-card-content>
      <ion-card-content>
        <div class="ion-text-center">
          <a color="primary" expand="block" (click)="logout()"><b>Logout</b></a>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>

