<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button href="homesearch" *ngIf="fromtabs; else notFromTabs">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ng-template #notFromTabs>
        <ion-button href="tabs">
          <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="user">
      <div class="ion-text-center" (click)="changeImg()">
        <img src="{{user.imgUrl}}" style="width: 100px; height: 100px"/>
      </div>
      <div class="ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>Dati personali</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Nome: {{this.user.name}}
        </ion-card-content>
        <ion-card-content>
          Cognome: {{this.user.surname}}
        </ion-card-content>
        <ion-card-content>
          Anno di nascita: {{this.dateservice.getStringDate(this.user.birthdate)}}
        </ion-card-content>
        <div *ngIf="this.currentUserId==this.user.id; else follow">
          <ion-card-content>
            <ion-button color="primary" expand="block" href="modprofile"> Modifica </ion-button>
          </ion-card-content>
          <ion-card-content>
            <div class="ion-text-center">
              <a color="primary" expand="block" (click)="logout()"><b>Logout</b></a>
            </div>
          </ion-card-content>
        </div>
        <ng-template #follow>
          <ion-card-content *ngIf="jastFollowed!=null">
            <ion-button *ngIf="!jastFollowed;else justFollowe" color="primary" expand="block" (click)="followUser()"> Segui </ion-button>
            <ng-template #justFollowe>
              <ion-button color="primary" expand="block" (click)="noFollowUser()"> Non Seguire </ion-button>
            </ng-template>
          </ion-card-content>
        </ng-template>
      </div>
    </ion-card>
</ion-content>

