<p>GIORNO:</p>
<ion-button color="light" expand="block" (click)="showCalendar()">{{labelDate}}</ion-button>
<ion-datetime min="{{getToday()}}" *ngIf="showCal" value="{{getDateValue()}}" presentation="date" #datetime (ionChange)="dateChange(datetime.value)"></ion-datetime>
<br>
<div *ngIf="club">
  <div *ngFor="let court of club.courts">
    <p><b>CAMPO {{court.number}}</b></p>
    <div class="scrolling-wrapper">
      <ion-col *ngFor="let time of club.times">
        <ion-button size="small" color="success" *ngIf="bookingsDay && bookingCheck(court, time)" (click)="setSelected(time, court.number)" [disabled]="setDisableHour(time, court.number)" >{{time}}:00-{{time+1}}:00</ion-button>
        <ion-button size="small"  color="danger" *ngIf="bookingsDay &&!bookingCheck(court, time)" disabled="true">{{time}}:00-{{time+1}}:00</ion-button>
      </ion-col>
    </div>
  </div>
</div>
<br>
<ion-button expand="block" (click)="goToPayment()" [disabled]="!booking || !booking.startHour || !booking.numberHour">Vai al pagamento</ion-button>
