<ion-header >

  <ion-toolbar color="primary">



    <ion-buttons slot="secondary">
      <ion-button href="homesearch">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment color="secondary"  value="partite">
      <ion-segment-button style="font-size: 10px" (click)="setPage('notifiche')" value="notifiche">
        Notifiche
      </ion-segment-button>
      <ion-segment-button style="font-size: 10px" (click)="setPage('partite')" value="partite">
        Partite
      </ion-segment-button>
      <ion-segment-button style="font-size: 10px" (click)="setPage('prenotazioni')" value="prenotazioni">
        Prenotazioni
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>





</ion-header>


<ion-content >

    <app-partite *ngIf="page=='partite'"></app-partite>
    <ion-fab *ngIf="page=='partite'" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button href="newmatch">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <app-notifications *ngIf="page=='notifiche'"></app-notifications>

    <app-mybookings *ngIf="page=='prenotazioni'"></app-mybookings>





</ion-content>


