<ion-header >

  <ion-toolbar color="primary">



    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment color="secondary"  value="partite">
      <ion-segment-button style="font-size: 10px" (click)="setPage('notifiche')" value="notifiche">
        Notifiche
      </ion-segment-button>
      <ion-segment-button style="font-size: 10px" (click)="setPage('partite')" value="partite">
        Partite
      </ion-segment-button>
      <ion-segment-button style="font-size: 10px" (click)="setPage('prenotazioni')" value="prenotazioni">
        Prenotazioni
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>





</ion-header>


<ion-content >
    <a href="login">Login</a>
    <app-partite *ngIf="page=='partite'"></app-partite>

    <p *ngIf="page=='notifiche'">
      Start with Ionic Notifiche
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
      >UI Components</a
      >
    </p>

    <p *ngIf="page=='prenotazioni'">
      Start with Ionic Prenotazioni
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
      >UI Components</a
      >
    </p>




</ion-content>


