<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button *ngIf="fromTabs;else no_from_tabs" href="homesearch">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ng-template #no_from_tabs>
        <ion-button href="tabs">
          <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="light" *ngIf="club==true">
    <ion-segment color="secondary" value="profilo">
      <ion-segment-button style="font-size: 10px" (click)="setPage('prenotazioni')"  value="prenotazioni">
        Prenotazioni
      </ion-segment-button>
      <ion-segment-button style="font-size: 10px" (click)="setPage('profilo')"  value="profilo">
        Profilo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >

  <app-clubprofile *ngIf="page=='profilo'&&club==true"></app-clubprofile>

  <app-reservations *ngIf="page=='prenotazioni'&&club==true"></app-reservations>

  <div *ngIf="!club">
    <p class="ion-text-center pagecenter">Attualmente non sei iscritto a nessun circolo, trova quello che fa per te e unisciti!</p>
  </div>

</ion-content>
