<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="secondary">
      <ion-button href="tabs">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="ion-text-center">Aggiungi una recensione</h4>
  <form [formGroup]="reviews">
    <ion-item>
      <ion-label position="stacked">Titolo</ion-label>
      <ion-input formControlName="title" placeholder="titolo..." type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">recensione</ion-label>
      <ion-textarea formControlName="rev" placeholder="recensione..."></ion-textarea>
    </ion-item>
  </form>
  <ion-button class="error-size" color="primary" expand="block" (click)="submit()" > Invia </ion-button>
  <br>
  <div *ngFor="let review of arrayReviews">
    <div (click)="changeSelected(review.id)">
      <ion-item *ngIf="review.id!=this.selected">
        <ion-avatar slot="start">
          <img src="{{review.user.imgUrl}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{review.user.name}} {{review.user.surname}}</h2>
          <h3>{{review.title}}</h3>
          <p>{{review.comment}}</p>
        </ion-label>
      </ion-item>
    </div>
    <div (click)="changeSelected(null)">
      <div *ngIf="review.id==this.selected">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{review.user.name}} {{review.user.surname}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{review.comment}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
