<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recensioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let review of arrayReviews">
    <ion-item>
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-label>
        <h2>{{review.user}}</h2>
        <h3>{{review.title}}</h3>
        <p>{{review.comment}}</p>
      </ion-label>
    </ion-item>
  </div>
  <br>
  <h3>Aggiungi un commento</h3>
  <form [formGroup]="reviews">
    <ion-item>
      <ion-label>Titolo</ion-label>
      <ion-input formControlName="title" placeholder="placeholder" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">commento</ion-label>
      <ion-textarea formControlName="review" placeholder="placeholder"></ion-textarea>
    </ion-item>
  </form>
  <ion-button class="error-size" color="primary" expand="block" (click)="submit()" > Invia </ion-button>
  <br>
  <ion-button size="small" href="tabs">Back</ion-button>
</ion-content>
