.welcome-card {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;}
ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card-header {
  max-width: 90%;
  margin: auto;
}
ion-card-content {
  max-width: 90%;
  margin: auto;
}
ion-item{
  max-width:80%;
  margin:auto;
}

ion-toolbar{
  --background: linear-gradient(to right , #045de9, #09c6f9);
}

.main_content_div{
  width: 100%;
  padding: 20px;

  ion-label{
    display: block;
    margin-top: 20px;
    color: gray;
  }

  .square-div{
    background: whitesmoke;
    width: 100%;
    height: 100px;
    position: relative;
  }

  .gray_img{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  ion-input{
    border: 1px solid lightgray;
    border-radius: 5px;
    --padding-start: 8px;
    margin-top: 15px;
  }
}

ion-footer{
  ion-row{
    background: linear-gradient(to right , #045de9, #09c6f9);
    color: white;
  }
}


