<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" href="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-item >
      <ion-img src="/assets/icon/ticket.jpg" ></ion-img></ion-item>
    <ion-card-header>
      <ion-card-title>Pagamento campi</ion-card-title>
      <ion-icon slot="end" name="ticket-outline"></ion-icon>
      <ion-row>
        <ion-col>
          10 $
        </ion-col>
        <ion-col>
          eheheheheh
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <div id="paypal-button-container"></div>
    </ion-card-content>
  </ion-card>
</ion-content>



