
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
    </ion-col>
    <ion-col  class="ion-align-self-center">
      <ion-text>5</ion-text>
    </ion-col>
    <ion-col  class="ion-align-self-center">
      <ion-text>3</ion-text>
    </ion-col>
    <ion-col  class="ion-align-self-center">
      <ion-text>4</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img [src]="" style="width: 50px ; height: 50px"></ion-img>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-text>3</ion-text>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-text>5</ion-text>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-text>5</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" >
      <ion-button expand="block" href="matchdetails"> dettagli partita</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" href="tabs">post</ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
