<!DOCTYPE html>
<head>
  <style>
    ion-col1 > div {
    border: solid 1px #ddd;
    padding: 10px;
    }
  </style>
</head>

<ion-grid>
  <ion-row>
    <div *ngIf="this.club!=null">
      <ion-col>
        <img src="./default.jpg" />
      </ion-col>
      <ion-col>
        <ion-button expand="full">unisciti</ion-button>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>
<br>
<div *ngIf="this.club!=null">
  <p class="ion-text-center">Nome:{{this.club.name}}</p>
  <p class="ion-text-center">Indirizzo:{{this.club.place.street}} N°{{this.club.place.houseNumber}} ({{this.club.place.city}})</p>
  <p class="ion-text-center">Numero di campi: {{this.club.courts.length}}</p>
</div>
<hr>
<br>
<div *ngIf="club!=null">
  <ion-button expand="full" (click)="inputToReview()">recensioni</ion-button>
</div>


